<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/stylesheets/style.css" />
    <title>Photo Gallery</title>
</head>
<body>
    <div class="topnav" id="navigation">
        <a href="/">Home</a>
        <a href="/works">Works</a>
        <a href="/gallery" class="active">Gallery</a>
        <a href="/about">About</a>
      </div>
      <div class="row"> 
        <div class="column">
          <img src="/images/a1.png" style="width:100%">
          <img src="/images/a2.png" style="width:100%">
          <img src="/images/a3.png" style="width:100%">
        </div>
        <div class="column">
          <img src="/images/g1.png" style="width:100%">
          <img src="/images/h1.png" style="width:100%">
          <img src="/images/h2.png" style="width:100%">
        </div>  
        <div class="column">
          <img src="/images/g2.png" style="width:100%">
          <img src="/images/g3.png" style="width:100%">
          <img src="/images/m1.png" style="width:100%">
        </div>
        <div class="column">
          <img src="/images/p1.png" style="width:100%">
          <img src="/images/k.png" style="width:100%">
          <img src="/images/kk.png" style="width:100%">
        </div>
      </div>   
</body>
</html>