<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/stylesheets/style.css" />
    <title>Works</title>
</head>

<body>
    <div class="topnav" id="navigation">
        <a href="/">Home</a>
        <a href="/works" class="active">Works</a>
        <a href="/gallery">Gallery</a>
        <a href="/about">About</a>
    </div>
    <div class="container left">
        <div class="content">
            <h2>2023</h2>
            <p>Lorem ipsum dolor sit amet, quo ei simul congue exerci, ad nec admodum perfecto mnesarchum, vim ea mazim
                fierent detracto. Ea quis iuvaret expetendis his, te elit voluptua dignissim per, habeo iusto primis ea
                eam.</p>
        </div>
    </div>
    <div class="container right">
        <div class="content">
            <h2>2022</h2>
            <p>Lorem ipsum dolor sit amet, quo ei simul congue exerci, ad nec admodum perfecto mnesarchum, vim ea mazim
                fierent detracto. Ea quis iuvaret expetendis his, te elit voluptua dignissim per, habeo iusto primis ea
                eam.</p>
        </div>
    </div>
    <div class="container left">
        <div class="content">
            <h2>2021</h2>
            <p>Lorem ipsum dolor sit amet, quo ei simul congue exerci, ad nec admodum perfecto mnesarchum, vim ea mazim
                fierent detracto. Ea quis iuvaret expetendis his, te elit voluptua dignissim per, habeo iusto primis ea
                eam.</p>
        </div>
    </div>
    <div class="container right">
        <div class="content">
            <h2>2020</h2>
            <p>Lorem ipsum dolor sit amet, quo ei simul congue exerci, ad nec admodum perfecto mnesarchum, vim ea mazim
                fierent detracto. Ea quis iuvaret expetendis his, te elit voluptua dignissim per, habeo iusto primis ea
                eam.</p>
        </div>
    </div>
    <div class="container left">
        <div class="content">
            <h2>2019</h2>
            <p>Lorem ipsum dolor sit amet, quo ei simul congue exerci, ad nec admodum perfecto mnesarchum, vim ea mazim
                fierent detracto. Ea quis iuvaret expetendis his, te elit voluptua dignissim per, habeo iusto primis ea
                eam.</p>
        </div>
    </div>
    <div class="container right">
        <div class="content">
            <h2>2017</h2>
            <p>Lorem ipsum dolor sit amet, quo ei simul congue exerci, ad nec admodum perfecto mnesarchum, vim ea mazim
                fierent detracto. Ea quis iuvaret expetendis his, te elit voluptua dignissim per, habeo iusto primis ea
                eam.</p>
        </div>
    </div>
</body>

</html>